/* 
* Use TypeKit when going live
*/

@font-face {
    font-family: 'ITCAvantGardeStd-Demi';
    src: url('../font/AvantGarde/ITCAvantGardeStd-Demi.eot');
}

@font-face {
    font-family: 'ITCAvantGardeStd-Demi';
    src: url('../font/AvantGarde/ITCAvantGardeStd-Demi.woff') format('woff'),
    url('../font/AvantGarde/ITCAvantGardeStd-Demi.svg#ITCAvantGardeStd-Demi') format('svg');
}
