/* Development grid. Press and hold "G" to see it. "H" to keep it visible
--------------------------------------------------------------------------- */

#grid {
    position: absolute;
    top:      10px;
    right:    0;
    bottom:   0;
    left:     0;
    z-index:  9999 !important;
}

/* Horizontal grid, height should be line-height */
#grid div.horiz {
    height: 20px;
    border-bottom: 1px dotted rgba(255,0,0,0.5);
    margin:  0;
    padding: 0;
}
