/* 
* Bog standard stylesheet
*/


body {
    background: #34495E;
    padding: 0;
    margin: 0;
    color:          #ECF0F1;
    line-height: 1.5em;
    font-family:   "Hevletica", "Arial", sans-serif;
}

a {
    text-decoration: none;
    color:          #ECF0F1;
}

a:hover {
    color: #fff;
}



p {
    -webkit-column-break-inside: avoid;
       -moz-column-break-inside: avoid;
        -ms-column-break-inside: avoid;
         -o-column-break-inside: avoid;
            column-break-inside: avoid;

    margin-bottom: 1em;
}

p:first-child, p:first-child strong {
    margin-top: 0;
}

strong {
    margin-top: 3em;
    margin-bottom: 0;
    display: block;
    font-size: 19px;
    color:          #ECF0F1;
}

h1, h2 {
    font-family:   "Lato", "Hevletica", "Arial", sans-serif;
    font-weight:    300;
    color:          #ECF0F1;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    line-height:    1.5em;
}

h3 {
    color:          #ECF0F1;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    line-height:    1.5em;
}

p, li {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    
}

.banner {
    height: 600px;
    width: 72px;
    height: 144px;
    background: rgba(0,0,0,0.1);
    border-left: 72px solid rgba(0,0,0,0.05);
    position: absolute;
    left: 0;
    top: 0;
}


.header {
    background-color: #2C3E50;
    height: 144px;
    position: relative;
    overflow: hidden;
}


.header p {
    color: #7F8C8D;
    font-weight: normal;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 9;
}

.sidebar-content {
    color: #fff;
}

h1 {
    letter-spacing: -3px;
    /* word-spacing shifts center aligned text off-center - hence the hair space in the title */
    vertical-align: middle;
    font-size:      72px;
    padding:        0 0 0 0;
    margin:         0 0 0 -5px;
    text-rendering: optimizelegibility;

    white-space:   nowrap;
    overflow:      hidden;
    text-overflow: ellipsis;
}

h2 {
    font-size: 28px;
    margin-top: 46px;
    border-bottom: 1px solid #D35400;
}

h2:first-child {
    margin-top: 23px;
}

h3 {
    font-weight: 600;
}


iframe {
    margin-left: 25px;
}


.container {
    margin: 0 auto;
}


.navbar {
    margin-left: auto;
    margin-right: auto;
}

.navbar-inner {
    background-image: -moz-linear-gradient(top, #34495E, #2C3E50);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#34495E), to(#2C3E50));
    background-image: -webkit-linear-gradient(top, #34495E, #2C3E50);
    background-image: -o-linear-gradient(top, #34495E, #2C3E50);
    background-image: linear-gradient(to bottom, #34495E, #2C3E50);
    border: 1px solid #2C3E50;
}

.nav {
    padding: 0;
}

.nav li a {
    color: #ECF0F1 !important;
    text-shadow: none !important;
}

.nav li.active a {
    color: #ECF0F1 !important;
    background-color: #2C3E50 !important;
}


.faq-content {
    text-align: left;
    margin: 0 auto;
    padding: 0 5px;

    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;

    -webkit-column-gap: 60px;
       -moz-column-gap: 60px;
            column-gap: 60px;
}


.latest-posts {
    list-style: none;
    text-indent: 0;
    padding: 0 5px;
    margin: 0 auto;
}


.latest-posts li {
    margin-bottom: 0.5em;
}

.latest-posts a {
    display: block;
    white-space:   nowrap;
    overflow:      hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.latest-posts a:hover {
    color: #3498DB;
}



.hexagons {
    margin: 36px auto 72px auto;
    padding: 15px 0 0 0;
}


/* Default for everything */
@media screen and (min-width: 1px) {
    .container      { width: 320px;   }
    .hexagons       { width: 300px;   }

    br, br.desktop, br.desktop-wide, br.mobile-wide {
        display: none;
    }

    br.mobile       { display: block; }

    .faq-content {
        -webkit-column-count: 0;
           -moz-column-count: 0;
                column-count: 0;
    }

    iframe {
        display: none;
    }
    
    .map-info {
        width: 275px;
        height: 300px;
        margin-left: 25px;
    }
}



@media screen and (min-width: 340px) {
    .container      { width: 320px;   }
    .hexagons       { width: 300px;   }

    br, br.desktop, br.desktop-wide, br.mobile-wide {
        display: none;
    }

    br.mobile       { display: block; }

    .faq-content {
        -webkit-column-count: 0;
           -moz-column-count: 0;
                column-count: 0;
    }

    iframe {
        display: none;
    }
    
    .map-info {
        width: 275px;
        height: 300px;
        margin-left: 25px;
    }
}


@media screen and (min-width: 500px) {
    .container      { width: 480px;   }
    .hexagons       { width: 360px;   }

    br, br.desktop, br.desktop-wide, br.mobile {
        display: none;
    }

    br.mobile-wide  { display: block; }

    .faq-content {
        -webkit-column-count: 0;
           -moz-column-count: 0;
                column-count: 0;
    }
    
    iframe, .map-info {
        display: block;
        width: 435px;
        height: 300px;
    }
    
    .map-info {
        margin-left: 25px;
    }
    
}


@media screen and (min-width: 740px) {
    .container      { width: 720px;   }
    .hexagons       { width: 600px;   }

    br, br.desktop-wide, br.mobile-wide, br.mobile {
        display: none;
    }

    br.desktop { display: block; }

    .faq-content {
        -webkit-column-count: 0;
           -moz-column-count: 0;
                column-count: 0;
    }
    
    iframe, .map-info {
        display: block;
        width: 320px;
        height: 300px;
        float: left;
    }
    
    .map-info {
        margin-left: 35px;
    }
    
    .map-info h3 {
        margin-top: 9px;
    }

}

@media screen and (min-width: 980px) {
    .container      { width: 960px;   }
    .hexagons       { width: 830px;   }
    
    br, br.desktop, br.mobile-wide, br.mobile {
        display: none;
    }

    br.desktop-wide { display: block; }

    .faq-content {
        -webkit-column-count: 2;
           -moz-column-count: 2;
                column-count: 2;
    }

    iframe, .map-info {
        display: block;
        width: 425px;
        height: 350px;
        float: left;
    }
    
    /* same as the column gap */
    .map-info {
        margin-left: 60px;
    }
    

}




.hexagons {
    text-align: center;
}

.hexagons div {
    text-indent: 0;
    width: 99px;
    height: 117px;
    background-color: #ECF0F1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    overflow: hidden;

/*    -webkit-transform: rotate(30deg);*/
    
    margin: -10px 8px 0 8px;

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
            backface-visibility: hidden;
}


.hexagons div .overlay {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 122px;
    vertical-align: middle;
    color: #fff;
    font-weight: bold;
    background-color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 0px #000;
    font-size: 18px;
    z-index: 1;
    cursor:default;
}

.hexagons div .top:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0px;
    height: 0px;
    border-style: solid;
    background: transparent;
    border-width: 0 52px 30px 0;
    border-color: transparent #34495E transparent transparent;
    z-index: 2;
}

.hexagons div .top:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 0px;
    border-style: solid;
    background: transparent;
    border-width: 30px 52px 0 0;
    border-color: #34495E transparent transparent transparent;
    z-index: 2;
}



.hexagons div .bottom:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0px;
    height: 0px;
    border-style: solid;
    background: transparent;
    border-width: 30px 0 0 52px;
    border-color: transparent transparent transparent #34495E;
    z-index: 2;
}

.hexagons div .bottom:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0px;
    height: 0px;
    border-style: solid;
    background: transparent;
    border-width: 0 0 30px 52px;
    border-color: transparent transparent #34495E transparent;
    z-index: 2;
}

