/* 
* Bog standard stylesheet
*/


body {
    background: #222;
    padding: 20px;
    text-align: center;
}

h1 {
    text-align:     center;
    color:          #181818;
    letter-spacing: -2px;
    line-height:    2em;
    font-size:      72px;
    font-family:   "ITCAvantGardeStd-Demi";
    margin:         0;
    text-rendering: optimizelegibility;
}




.image {
    width: 100px;
    height: 122px;
    background-image: url("/img/pic.jpg");
    background-color: #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    float: left;
    
/*    -webkit-transform: rotate(30deg);*/
    
    margin: 10px;

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
            backface-visibility: hidden;
}


.image .overlay {
    height: 122px;
    line-height: 122px;
    vertical-align: middle;
    color: #fff;
    font-weight: bold;
    background-color: rgba(0,0,0,0.5);
    text-shadow: 2px 2px 0px #000;
    font-size: 18px;
}

.image .top:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0px;
    height: 0px;
    border-style: solid;
    background: transparent;
    border-width: 0 52px 30px 0;
    border-color: transparent #222 transparent transparent;
}

.image .top:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 0px;
    border-style: solid;
    background: transparent;
    border-width: 30px 52px 0 0;
    border-color: #222 transparent transparent transparent;
}



.image .bottom:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0px;
    height: 0px;
    border-style: solid;
    background: transparent;
    border-width: 30px 0 0 52px;
    border-color: transparent transparent transparent #222;
}

.image .bottom:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0px;
    height: 0px;
    border-style: solid;
    background: transparent;
    border-width: 0 0 30px 52px;
    border-color: transparent transparent #222 transparent;
}



.hexagons {
    max-width: 1200px;
    height: 500px;
    margin: 0 auto;
    outline: 1px solid #111;
}



.image:nth-child(even) {

}

.image:nth-child(odd) {

}



/* Hexagons */
