/* Global, Generic stuff
-------------------------------------------------------------------------- */

body {
    font-family: "Helvetica", "Arial", sans-serif;
    color:       #34495e;
    font-size:   14px;
    line-height: 20px;
}

/* Default the colours, but keep the :visited state - useful to know if you've clicked or not */
a         { color: #2980b9; }
a:visited { color: #8e44ad; }
a:hover   { text-decoration: none; }
p         { margin: 0 0 20px 0; }


/* Headers
-------------------------------------------------------------------------- */

h1, h2, h3, h4 {
    font-family: "Helvetica", "Arial", sans-serif;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size:   80px;
    font-weight: bold;
    color:       #fff;

    /* Headlines can take this tight spacing, and the negative indent is for optical kerning */
    letter-spacing: -1px;

    /* Metrics of Arial / Helvetic mean 80px font-size == 88px actual height */
    margin: 20px 0 12px -4px;
}

h2 {
    color:         #2c3e50;
    font-size:     32px;
    line-height:   40px;
    border-bottom: 1px solid #ecf0f1;
    font-weight:   200;

    /* border-bottom throws it slightly off grid */
    margin:        19px 0 20px 0;
}


/* Hero unit with map background
-------------------------------------------------------------------------- */

.hero {
    padding:     0 0 20px 0;
    min-height:  220px;
    font-size:   16px;
    color:       #ccc;
    text-shadow: 1px 1px 0 #000;
    overflow: hidden;
    position: relative;
}

.hero p {
    margin: 0 0 10px 0;
}

.google-map {
    /* google maps sets it to position relative in the HTML. This is the only way to override */
    position:   absolute !important;
    top:        0;
    right:      0;
    left:       0;
    bottom:     -30px;
}

/* Background of each tile should be closer to the real BG color */
.google-map, .google-map > div {
    background: #2d2d2d;
}

/* Massive hack to change the color a bit as I can't be bothered working with google's dodgy map wizard */
.overlay {
    /* IE8 gets a transparent fallback */
    background-color: transparent;
    background-color: rgba(0,0,32,0.2);
    pointer-events:   none;
}



/* FAQ & Latest post list
-------------------------------------------------------------------------- */

/* White background that we have to put on top of the static google map */
.body {
    background: #fff;
    min-height: 900px;
    margin:     0;
/*    display: none;*/
}

/* For smaller viewports, make sure there is a large enough gap */
.faq-content, .latest-posts {
    margin-bottom: 40px;
}

/* To get it to line up with the grid and post list */
.faq-content {
    padding-top: 5px;
}


.latest-posts li a {
    display: block;
    padding: 5px 0;
}

.latest-posts li a span {
    display:     block;
    line-height: 20px;
}

.meta {
    font-size: 11px;
    color:     #999;
}



/* Footer
-------------------------------------------------------------------------- */

.footer {
    width:  100%;
    height: 100px;
    background: #222;
    position: relative;
    bottom: 0;
}

.reddit-link {
    display:     block;
    margin:      0 0 0 15px;
    font-weight: bold;
    font-size:   36px;
    line-height: 95px;
    height:      100px;
    color:       #000;
    text-shadow: rgba(255, 255, 255, 0.1) 0 1px 0;

    -webkit-transition: all .5s linear;
       -moz-transition: all .5s linear;
         -o-transition: all .5s linear;
            transition: all .5s linear;
}

.reddit-link:visited {
    color: #000;
}

.reddit-link:hover {
    color: #eee;
    text-decoration: none;
    text-shadow: none;
}



/* Media Queries
-------------------------------------------------------------------------- */

@media(max-width:992px){
    h1 { font-size: 53px; }
}

@media(max-width:769px){
    h1 { font-size: 44px; }
    h2 { font-size: 26px; }
}

