

body {
    background-color: #2d2d2d;
    font-size: 14px;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4 {
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 72px;
    font-weight: bold;
    letter-spacing: -1px;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
    text-align: left;
}

h2 {
    color: #27ae60;
    border-bottom: 1px solid #eee;
    line-height: 40px;
    margin: 0 0 23px 0;
    font-weight: normal;
}


.hero {
    min-height: 200px;
    font-size: 16px;
    color: #aaa;
    text-shadow: 1px 1px 0 #000;
}


.faq-content, .latest-posts {
    margin-bottom: 40px;
}



.body {
    margin-top: 20px;
    padding-top: 30px;;
    background-color: #fff;
    position: relative;
    min-height: 900px;
    margin-bottom: 100px;
}



.faq-content {
    padding-top: 5px;
}

p {
    margin-bottom: 20px;
}






.latest-posts li a {
    display: block;
    padding: 5px 0;
}

.latest-posts li a span {
    display: block;
    line-height: 20px;
}

.latest-posts li a span.meta {
    font-size: 11px;
    color: #999;
}



/* Background Google Map
-------------------------------------------------------------------------- */

#map-canvas, #map-overlay {
    position: fixed !important;
    top:    0;
    right:  0;
    bottom: 0;
    left:   0;
}

#map-canvas {
    bottom: -40px;
}

/* Massive hack to change the color a bit as I can't be bothered working with google's dodgy map wizard */
#map-overlay {
    background-color: rgba(0,0,32,0.2);
    pointer-events: none;
}
